<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            ngModel
            name="amount"
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            style="margin-right: 5px"
            type="submit"
            [disabled]="!form.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger"
            style="margin-right: 5px"
            type="button"
            (click)="onDelete()"
            [disabled]="!editMode"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="formReset()"
            [disabled]="!form.value.name && !form.value.amount"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
